:root {
    --font-barlow-semi: 'Barlow Semi Condensed', sans-serif;

    /* Colors */
    --white: hsl(0, 0%, 100%);
    --very-dark-grayish-blue: hsl(217, 19%, 35%);
    --gradient-dark: linear-gradient(180deg, #293343 0%, #1d1f31 100%);
    --dark-grey: rgb(61, 51, 85);
    --gradient-green: linear-gradient(180deg, #32ebc9 0%, rgba(52, 215, 185, 0.9) 100%)
}

/* css Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: var(--font-barlow-semi);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    background: var(--gradient-dark);
    position: relative;
}


.testimonials-section {
    padding: 3.6rem 0;
}

.testimonial {
    padding: 1.6rem 2.4rem;
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
    border-radius: 1rem;
    color: var(--white);
    box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
}

.testimonials-section {
    display: grid;
    gap: 2.4rem;
    max-width: 125rem;
    margin: 2.4rem 1.8rem;
}

.testimonial__person-info {
    display: flex;
    gap: 2.4rem;
    align-items: center;
}

.testimonial__person-image {
    border-radius: 50%;
}


.testimonial__person-name {
    font-size: 1.6rem;
    margin-bottom: 0.4rem;
}

.testimonial__person-post {
    font-size: 1.4rem;
    opacity: 70%;
}

.testimonial__title {
    font-size: 1.8rem;
    font-weight: 600;
}

.testimonial__text {
    opacity: 50%;
    line-height: 1.6;
    font-size: 1.4rem;
}

.testimonial--daniel {
    background: linear-gradient(180deg, #21e8c4 0%, rgba(21, 183, 153, 0.9) 100%);
}

.testimonial--jonathan {
    background-color: var(--very-dark-grayish-blue);
}

.testimonial--jeanette {
    background: linear-gradient(180deg, #9357F5 0%, rgba(131, 55, 255, 0.81) 100%);
    color: white;
    font-size: 1.4rem;
}

.testimonial--patrick {
    background-image: linear-gradient(to right, #434343 0%, rgba(0, 0, 0, 0.85) 100%);
}

.testimonial--kira {
    background-image: linear-gradient(to right, #141e30, #243b55);
    color: white;
}

/* Above 576 pixels */
@media (min-width: 36em) {
    .testimonials-section {
        grid-template-columns: 1fr 1fr;
        gap: 2.4rem;

        grid-template-areas:
                'daniel patrick'
                'daniel patrick'
                'jonathan kira'
                'jeanette kira';
    }

    .testimonial--daniel {
        grid-area: daniel;
    }

    .testimonial--jonathan {
        grid-area: jonathan;
    }

    .testimonial--jeanette {
        grid-area: jeanette;
    }

    .testimonial--kira {
        grid-area: kira;
    }

    .testimonial--patrick {
        grid-area: patrick;
    }
}

/* Media Queries*/
@media (min-width: 56em) {
    .testimonials-section {
        grid-template-columns: repeat(4, 1fr);
        gap: 2.4rem;
        max-width: 110rem;
        margin: 3.2rem;

        grid-template-areas:
                'daniel daniel jonathan kira'
                'jeanette patrick patrick kira';
    }
}












